[submodule "Scripts/WindowsAdmin/powershellAliasesUserProfile"]
	path = Scripts/WindowsAdmin/powershellAliasesUserProfile
	url = D:/Project Shelf/PowerShellProjectFolder/powershellAliasesUserProfile
[submodule "Scripts/EspHeaderExport"]
	path = Scripts/EspHeaderExport
	url = https://github.com/perXautomatik/Esp-Header-Export.git
[submodule "Scripts/Processes/regestry"]
	path = Scripts/Processes/regestry
	url = https://gist.github.com/afba721727466476d3caefa5739a0767
[submodule "Scripts/Processes/pipeline"]
	path = Scripts/Processes/pipeline
	url = https://gist.github.com/3a93145c3526005f132cd563590f9ad3
[submodule "Script"]
	path = Scripts
	url = https://github.com/perXautomatik/PowerShell-Scripts.git
[submodule "Scripts/test/xml"]
	path = Scripts/test/xml
	url = https://github.com/perXautomatik/fujitsu-xml2csv
