/Scripts/.templates/$$var_template/$$var_filename.js
/Scripts/.templates/.editorconfig
/Scripts/.templates/template-sample/index.js
/Scripts/.templates/template-sample-react-component/index.jsx
/Scripts/.templates/template-sample-react-component/index.scss
