[submodule "GeneralSourceCompare"]
	path = GeneralSourceCompare
	url = D:/Project Shelf/PowerShellProjectFolder/GeneralSourceCompare/Forks/0cc040af9e7d768f13c998cde8dc414d
[submodule "powershellAliasesUserProfile"]
	path = powershellAliasesUserProfile
	url = D:/Project Shelf/PowerShellProjectFolder/powershellAliasesUserProfile
[submodule "Esp-Header-Export"]
	path = Esp-Header-Export
	url = https://github.com/perXautomatik/Esp-Header-Export.git
[submodule "Processes/regestry"]
	path = Processes/regestry
	url = https://gist.github.com/afba721727466476d3caefa5739a0767
[submodule "Processes/pipeline"]
	path = Processes/pipeline
	url = https://gist.github.com/3a93145c3526005f132cd563590f9ad3
[submodule "TextTransformation/ini"]
	path = TextTransformation/ini
	url = C:/Users/dator/Documents/5960b271752d030383f0e5a591751e0d/.git
